<% html_title l(:dashboard) %>
<style type="text/css">
<!--
.left_table {
	float: left;
	width: 49%;
	padding-right: 5px;
}
.right_table {
	float: right;
	width: 49%;
	padding-left: 5px;
}
.filter_selector {
  font-size: xx-small;
}
-->
</style>
<h2><%= l(:dashboard) %></h2>

<!-- Issue/MyEffort list table -->
<div id="working-on" class="left_table">
  <%= render :partial => 'table_working_on', :locals => {:table_data => @efforts_board_data} %>
</div>

<!-- Total issues by user table -->
<div id="issues-user" class="right_table">
  <%= render :partial => 'table_issues_user', :locals => {:table_data => @issues_per_user} %>
</div>

<!-- Total issues by project table -->
<div id="issues-project" class="left_table">
  <%= render :partial => 'table_issues_project', :locals => {:table_data => @issues_per_project} %>
</div>
